{
  "printWidth": 100,
  "importOrder": ["@/types", "@/constants", "@/utils", "@/hooks", "@/components", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
